@use "styles/index.scss" as v;

.btn {
  @include v.flex($align: center, $justify: center);
  height: 40px;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  text-transform: capitalize;
  border: 0;
  border-radius: 8px;
  background-color: v.$primary-color;
  color: white;
  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: darken($color: v.$primary-color, $amount: 10);
  }
}

